/* 共通 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Zen Antique", serif;
}

body {
  max-width: 1600px;
  background-color: #FAF7F0;
  overflow-x: hidden;
}

main {
  padding-top: 80px;
}

a {
  color: #000;
  text-decoration: none;
}

/* ヘッダー */
header {
  display: flex;
  height: 80px;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #FAF7F0;
  background-color: rgba(250, 247, 240, 0.8);
  z-index: 1000;
  justify-content: flex-start
}

.header-right {
  position: relative;
  margin-left: auto;
  width: fit-content;
  display: flex;
  justify-content: space-between;
  margin-right: 40px;
}

.header-right img {
  width: 45px;
  margin-left: 80px;
}

.tel {
  margin-left: 60px;
  letter-spacing: 20px;
}

.reserve {
  padding: 16px 32px;
  border-radius: 60px;
  background-color: #F26D55;
  border: 2px solid #F26D55;
  color: #eee;
}

.reserve:hover {
  color: #000;
  cursor: pointer;
  background-color: #eee;
  background-color:  rgba(177,139,87,0.5);
  border: 2px solid #000;
}

/* ヒーローエリア */
.hero-area {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.title {
  margin-top: 16px;
  margin-left: 160px;
}

ul {
  list-style: none;
  writing-mode: vertical-rl;
  margin-top: -240px;
  padding-left: 320px;
  line-height: 56px;
  letter-spacing: 12px;
}

li:hover {
  cursor: pointer;
  font-size: 20px;
}

.tower img {
  border-radius: 20px;
}

/* キャッチコピー */
.copy {
  height: 400px;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.copy-text {
  font-size: 18px;
  font-weight: normal;
  writing-mode: vertical-rl;
  position: absolute;
  letter-spacing: 20px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 32px;
}

.copy-text p {
  line-height: 80px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}

.copy img {
  display: block;
  opacity: 0.3;
  width: 100%;
}

/* 各紹介 */
.container {
  max-width: 100%;
  margin: 0 auto;
  padding-bottom: 120px;
}

.menu {
  display: flex;
  margin-top: 120px;
  width: 100%;
}

h2 {
  position: relative;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 8px;
  margin-top: 60px;
  margin-left: 120px;
}

.menu-back {
  position: absolute;
}

.intro {
  padding: 0 40px;
  width: 100%;
}

h3 {
  font-size: 22px;
  font-weight: normal;
  letter-spacing: 8px;
  margin-top: 8px;
}

.intro p {
  margin-top: 60px;
  line-height: 48px;
  letter-spacing: 4px;
}

.menu.reverse {
  flex-direction: row-reverse;
}

.menu.reverse h2 {
  margin-right: 80px;
}

.menu.reverse .menu-back {
  margin-left: 80px;
  width: 220px;
}

.info {
  width: 800px;
  text-align: center;
}

/* 予約フォームへの導線 */
.form {
  width: 60%;
  padding: 80px 0;
  text-align: center;
  margin: 0 auto;
  border: solid 2px #666;
  position: relative;
}

.this {
  position: relative;
  padding-top: 80px;
  letter-spacing: 20px;
  font-size: 20px;
}

.form img {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.notion {
  margin-top: 100px;
  letter-spacing: 8px;
  font-size: 14px;
  line-height: 36px;
}

.form span {
  color: #FAF7F0;
}

.booking img:hover {
  cursor: pointer;
}

/* 旅館概要 */
.announce {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  padding: 80px;
}

.address {
  display: flex;
  flex-direction: column;
}

h4 {
  writing-mode: vertical-rl;
  font-size: 32px;
  font-weight: normal;
  letter-spacing: 16px;
  margin-top: 24px;
}

h5 {
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 8px;
  padding: 40px;
}

.post {
  margin-left: 54px;
}

.ad {
  margin-left: 114px;
}

.call {
  margin-left: 32px;
}

.address p {
  padding: 20px 40px;
  font-size: 14px;
  letter-spacing: 4px;
}

/* フッター */
footer {
  background-color: #4A4947;
  height: 320px;
  text-align: center;
  padding-top: 140px;
  color: #ccc;
  letter-spacing: 4px;
}

.title, .copy-text, .front-menu, .intro {
  display: none;
}

/* ハンバーガーメニュー */
#menu-toggle {
  cursor: pointer;
  right: 10px;
  z-index: 1001;
}

#menu {
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(74, 73, 71, 0.9);
  width: 400px;
  height: 100%;
  z-index: 1000;
}

.nav-ul {
  list-style: none;
  padding: 20px;
  margin: 0;
  color: white;
  font-size: 18px;
}

.nav-ul li {
  margin-bottom: 15px;
}

.nav-ul a {
  color: white;
  text-decoration: none;
}

.nav-ul a:hover {
  text-decoration: underline;
}

/* メディアクエリ */
@media (max-width: 1350px) {
  .tower img {
    width: 500px;
  }

  .hero-logo img,
  .front-menu {
    width: 400px;
  }

  .intro h3,
  p {
    font-size: 16px;
  }

  .menu {
    display: block;
  }

  .menu-back {
    width: 100%;
    margin: 0 auto;
  }

  .menu h2 {
    width: 100px;
    margin: 0 auto;
    padding-top: 80px;
  }

  .menu-img {
    width: 80%;
    display: block;
    margin: 0 auto;
  }

  /* 逆メニュー */
  .menu.reverse {
    display: block;
  }

  .menu.reserve img {
    width: 100%;
    margin: 0 auto;
  }

  .menu.reverse h2 {
    width: 100px;
    margin: 0 auto;
    padding-top: 100px;
  }

  .menu.reverse .menu-back {
    margin-left: 0px;
    width: 100%;
  }

  .intro h3 {
    font-size: 20px;
    margin-top: 40px;
  }

  .intro {
    margin: 0 auto;
    width: 80%;
  }

  .announce {
    display: block;
    width: 100%;
  }
  .address {
    display: block;
    flex-direction: row;
    width: 80%;
    border: solid 2px #666;
    margin: 0 auto;
  }
  h4 {
    writing-mode: horizontal-tb;
    text-align: center;
  }
}

@media (max-width: 1100px) {
  .tower img {
    width: 350px;
  }

  .hero-logo img,
  .front-menu {
    width: 300px;
  }
}

@media (max-width: 850px) {
  .hero-area {
    display: block;
    margin: 0 auto;
  }

  .tower img {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
  }
    .address h5, .address p {
    font-size: 12px;
  }
}

@media (max-width: 600px) {
  .tel,
  .reserve {
    font-size: 16px;
  }

  .tel {
    letter-spacing: 2px;
  }

  .copy-text p {
    font-size: 12px;
  }
  .booking img {
    width: 100%;
  }
  .this {
    font-size: 12px;
    letter-spacing: 8px;
  }
}